

# exec conky -c ~/.config/conky/conky_bar | dzen2 -dock -h 20 -x %x -ta r -sa r -fn '-xos4-terminus-*-*-*-*-13-*-*-*-*-*-*-*'
exec conky -c ~/.config/conky/conky_bar | dzen2 -dock -h 20 -bg black -fn '-xos4-terminus-*-*-*-*-13-*-*-*-*-*-*-*'
exec i3bar -s /tmp/ipc.sock -d bottom -f '-misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1' --color-active-ws-bg D2DFFF --color-active-ws-fg 000000 --color-inactive-ws-bg 444555 --color-inactive-ws-fg 000000 --color-urgent-ws-bg FF2400 --color-urgent-ws-fg 000000 --color-focus-ws-fg 000000 --color-focus-ws-bg 007FFF
exec feh --bg-scale ~/.config/i3/wallpaper
exec synclient TouchpadOff=1

# exec chromium
#exec urxvt
#exec spotify
#exec pavucontrol

# focus follows mouse
focus_follows_mouse true

# default splitting direction
default_orientation auto

# uncomment for default window placement
workspace_layout tabbed
new_window 1pixel

#workspace 1 Shell
#workspace 2 Coding
#workspace 3 Net
#workspace 4 Home
#workspace 5 Music
#workspace 6 Skype
#workspace 7 VGA


# Special workspace for VGA1
workspace 7 output VGA1

# Map the other workspaces to regular screen
workspace 1 output LVDS1
workspace 2 output LVDS1
workspace 3 output LVDS1
workspace 4 output LVDS1
workspace 5 output LVDS1
workspace 6 output LVDS1

#assign eclipse 	2: Code
#assign firefox 3: Net
#assign spotify 	5: Music
#assign skype 	6
#assign vlc 		7: VGA

# Program bindings
bindsym Mod4+F1 exec firefox
bindsym Mod4+F2 exec eclipse
bindsym Mod4+F3 exec spotify
bindsym Mod4+F4 exec /home/phnom/bin/vendetta


# ISO 10646 = Unicode
#font -*-*-*-*-*-*-*-*-*-*-*-*-*-2
font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
#font baaaaaajs

# Change window borders
bindsym Mod4+t border normal
bindsym Mod4+y border 1pixel
bindsym Mod4+r border none

# open empty container
bindsym Mod4+Shift+e open

# toggle tiling / floating
bindsym Mod4+Shift+space mode toggle

bindsym Mod4+u level up
bindsym Mod4+d level down

# Restore saved JSON layout
bindsym Mod4+i restore /home/phnom/.config/i3/layout.json

# Use Mouse+Mod1 to drag floating windows to their wanted position
floating_modifier Mod1

# Fullscreen (Mod4+f)
bindsym Mod4+f fullscreen

# Stacking (Mod4+h)
bindsym Mod4+s layout stacking

# Tabbed (Mod4+w)
bindsym Mod4+w layout tabbed

# Default (Mod4+e)
bindsym Mod4+l layout default

# Horizontal or vertical split
bindsym Mod4+h split h
bindsym Mod4+v split v

# Focus (Mod4+n/r/t/d)
#bindsym Mod4+n prev h
#bindsym Mod4+r next v
#bindsym Mod4+t prev v
#bindsym Mod4+d next h

# alternatively, you can use the cursor keys:
bindsym Mod4+Left prev h
bindsym Mod4+Right next h
bindsym Mod4+Down next v
bindsym Mod4+Up prev v

# Move
bindsym Mod4+Shift+n move left
bindsym Mod4+Shift+r move down
bindsym Mod4+Shift+t move up
bindsym Mod4+Shift+d move right

# alternatively, you can use the cursor keys:
bindsym Mod4+Shift+Left move left
bindsym Mod4+Shift+Right move right
bindsym Mod4+Shift+Down move down
bindsym Mod4+Shift+Up move up

# Workspaces (Mod4+1/2/…)
bindsym Mod4+1 workspace 1: Shell
bindsym Mod4+2 workspace 2: Code
bindsym Mod4+3 workspace 3: Net
bindsym Mod4+4 workspace 4: Home
bindsym Mod4+5 workspace 5: Music
bindsym Mod4+6 workspace 6
bindsym Mod4+7 workspace 7: VGA
bindsym Mod4+8 workspace 8
bindsym Mod4+9 workspace 9
bindsym Mod4+0 workspace 1

# Move to Workspaces
bindsym Mod4+Shift+1 move workspace 1: Shell
bindsym Mod4+Shift+2 move workspace 2: Code
bindsym Mod4+Shift+3 move workspace 3: Net
bindsym Mod4+Shift+4 move workspace 4: Home
bindsym Mod4+Shift+5 move workspace 5: Music
bindsym Mod4+Shift+6 move workspace 6
bindsym Mod4+Shift+7 move workspace 7: VGA
bindsym Mod4+Shift+8 move workspace 8
bindsym Mod4+Shift+9 move workspace 9
bindsym Mod4+Shift+0 move workspace 1


# Mod4+Return starts a new terminal
bindsym Mod4+Return exec /usr/bin/xterm

# Mod4+Shift+Return opens an empty container
bindsym Mod4+Shift+Return open

# Mod4+c kills the current client
bindsym Mod4+c kill

# Mod4+Tab starts dmenu and launches the selected application
# for now, we don’t have a launcher of our own.
bindsym Mod4+Tab exec /usr/bin/dmenu_run -nb \#000000 -nf \#3355FF -sb \#DDDDDD -sf \#000000

# Mod4+Shift+q exits i3
bindsym Mod4+Shift+q exit

# Mod4+Shift+c reloads this config file
bindsym Mod4+Shift+c reload

# Mod4+Shift+r restarts i3 inplace
bindsym Mod4+Shift+r restart

# The IPC interface allows programs like an external workspace bar
# (i3-wsbar) or i3-msg (can be used to "remote-control" i3) to work.
ipc-socket /tmp/ipc.sock

#############################################################
# DELETE THE FOLLOWING LINES TO DISABLE THE WELCOME MESSAGE #
#############################################################
# exec xmessage -file /etc/i3/welcome
